
.idea/

venv/Lib/site-packages/setuptools/_distutils/command/

venv/Lib/site-packages/setuptools/_vendor/

venv/Lib/site-packages/setuptools/

venv/Scripts/

venv/

CDMO_Project_2021.pdf

src/smt/.ipynb_checkpoints/
An_analytical_approach_to_floorplan_design_and_optimization.pdf
0895-7177(94)90127-9.pdf
10.1.1.517.4873.pdf
T02-BasicModelling.pdf
A_SAT-based_Method_for_Solving_the_Two-dimensional.pdf
