
.idea/

venv/Lib/site-packages/setuptools/_distutils/command/

venv/Lib/site-packages/setuptools/_vendor/

venv/Lib/site-packages/setuptools/

venv/Scripts/

venv/

CDMO_Project_2021.pdf

src/smt/.ipynb_checkpoints/
An_analytical_approach_to_floorplan_design_and_optimization.pdf
